[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
tortoise-orm = "*"
pydantic = "==1.10.10"
python-multipart = "*"
bcrypt = "*"
passlib = "*"
pyjwt = "*"
password-strength = "*"

[dev-packages]

[requires]
python_version = "3.11"
